@import url("https://fonts.googleapis.com/css2?family=Lexend+Giga&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-family: "Lexend Giga", sans-serif;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

body {
	line-height: 20px;
	font-family: "Ubuntu Mono", sans-serif;
	background: hsla(0, 100%, 81%, 1);

	background: linear-gradient(
		90deg,
		hsla(0, 100%, 81%, 1) 0%,
		hsla(290, 24%, 67%, 1) 40%,
		hsla(262, 24%, 65%, 1) 51%,
		hsla(220, 42%, 57%, 1) 78%,
		hsla(215, 100%, 45%, 1) 100%
	);

	overflow: hidden;
}

h1 {
	letter-spacing: 3px;
}

h3 {
	letter-spacing: 3px;
}
