/* Overlay.css */
.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(
		0,
		0,
		0,
		0.5
	); /* You can adjust the background color and opacity here */
	z-index: 999; /* Make sure it's above other content */
}

.pixelCon {
	position: absolute;
	width: 120%;
	height: 120%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	overflow: hidden;
}

.pixel {
	background: whitesmoke;
	width: 1%;
	padding-top: 1%;
	float: left;
	opacity: 0;
	animation: blink 8s infinite;
}

@keyframes blink {
	0% {
		opacity: 0;
	}
	25% {
		opacity: 0;
	}
	50% {
		opacity: 0.2;
	}
	100% {
		opacity: 0;
	}
}
